<div class="maintenanceitem-view row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">题目信息</h3>
                <button class="btn btn-primary" data-toggle="collapse" href="#searchForm" aria-expanded="false" aria-controls="searchForm">筛选</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#mainteanceItemModal">添加</button>
            </div>
            <div class="collapse search-form" id="searchForm">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">关键字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="请在此输入搜索问题的关键字" name="filterName" ng-model="queryName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDate1" class="col-sm-2 control-label">日期</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="date" class="form-control" id="inputDate1" ng-model="queryDate1">
                                <div class="input-group-addon">至</div>
                                <input type="date" class="form-control" id="inputDate2" ng-model="queryDate2">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>名称</th>
                            <th>内容</th>
                            <th>价格</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemCtrl.itemInfos | filter: queryName | filter: dateFilter">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.content}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.status == 1 ? '进行中' : '已结束'}}</td>
                            <td>{{item.publishDate.formatDate}}</td>
                            <td>
                                <a title="删除" href="" class="glyphicon glyphicon-trash" ng-click="itemCtrl.deleteItem(item._id, $index)"></a>
                                <a title="关闭该活动" href="" ng-if="item.status == 1" class="glyphicon glyphicon-eye-close" ng-click="itemCtrl.changeStatus(item._id, $index, item.status)"></a>
                                <a title="打开该活动" href="" ng-if="item.status != 1" class="glyphicon glyphicon-eye-open" ng-click="itemCtrl.changeStatus(item._id, $index, item.status)"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mainteanceItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加新保养项目</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert" style="margin: -8px 0 0;padding: 5px;text-align: center;visibility: hidden;">添加上得到</div>
                <form class="form-horizontal" ng-submit="itemCtrl.processItemForm()">
                    <div class="form-group">
                        <label for="itemName" class="col-sm-2 control-label">项目名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="itemName" required="required" placeholder="填写项目名称" ng-model="itemCtrl.itemData.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="itemContent" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="itemContent" placeholder="填写项目内容" ng-model="itemCtrl.itemData.content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="itemPrice" class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="itemPrice" placeholder="填写项目价格" ng-model="itemCtrl.itemData.price">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                    <input type="reset" class="hide">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
