<div class="buycar-view row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">卖车信息</h3>
                <a href="sellcar/getexcel" class="btn btn-primary">导出excel</a>
                <button class="btn btn-primary" data-toggle="collapse" href="#searchForm" aria-expanded="false" aria-controls="searchForm">筛选</button>
                <button type="button" class="btn btn-info" ng-click="sellCtrl.loadData()">刷新</button>
            </div>
            <div class="collapse search-form" id="searchForm">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">关键字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="请在此输入搜索问题的关键字" name="filterName" ng-model="queryName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDate1" class="col-sm-2 control-label">日期</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="date" class="form-control" id="inputDate1" ng-model="queryDate1">
                                <div class="input-group-addon">至</div>
                                <input type="date" class="form-control" id="inputDate2" ng-model="queryDate2">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>品牌车型</th>
                            <th>颜色</th>
                            <th>价格</th>
                            <th>排量</th>
                            <th>里程</th>
                            <th>变速箱</th>
                            <th>天窗</th>
                            <th>上牌时间</th>
                            <th>目前状态</th>
                            <th>手机号</th>
                            <th>创建时间</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="info in sellCtrl.sellCarInfos | filter: queryName | filter: dateFilter">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{info.brand}}</td>
                            <td>{{info.color}}</td>
                            <td>{{info.price}}</td>
                            <td>{{info.displacement}}</td>
                            <td>{{info.mailage}}</td>
                            <td>{{sellCtrl.formatGearbox(info.gearbox)}}</td>
                            <td>{{info.skylight?'有':'无'}}</td>
                            <td>{{sellCtrl.formatDate(info.licenseDate)}}</td>
                            <td>{{info.status?'想卖车':'问问价'}}</td>
                            <td>{{info.tel}}</td>
                            <td>{{info.publishDate.formatDate}}</td>
                            <td>
                                <span ng-if="info.comment.length <= 5">{{info.comment}}</span>
                                <a ng-if="info.comment.length > 5" href="javascript:" data-toggle="{{info.comment.length > 5 ? 'tooltip' : ''}}" data-placement="bottom" title="{{info.comment}}">{{sellCtrl.simplifyQestion(info.comment)}}</a>
                            </td>
                            <td>
                                <a href="" class="glyphicon glyphicon-trash" ng-click="sellCtrl.deleteInfo(info._id, $index)"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-block btn-primary load-more-btn" ng-click="sellCtrl.loadMore()">加载更多</button>
            </div>
        </div>
    </div>
</div>
