<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>App Name</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale = 1.0, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="icons/favicon.ico" rel="shortcut icon">
    <link href="icons/favicon.ico" rel="Bookmark">
    <!-- Standard iPhone -->
    <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-touch-icon-57x57-precomposed.png" />
    <!-- Standard iPad -->
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72-precomposed.png" />
    <!-- Retina iPhone -->
    <link rel="apple-touch-icon" sizes="114x114" href=icons/ "apple-touch-icon-114x114-precomposed.png" />
    <!-- Retina iPad -->
    <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-touch-icon-144x144-precomposed.png" />
    <!--<script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="http://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>-->
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/editor/css/user_article.css">
</head>

<body>
    <!--[if lt IE 9]>
            <p class="chromeframe">您正在使用一个<strong>过时的</strong>浏览器。请点击<a href="http://browsehappy.com/">这里</a>来升级您的浏览器</p>
        <![endif]-->
    <article class="article-wrapper">
        <div class="title-img">
            <img src="/editor/<%= url %>" alt="">
        </div>
        <h1><%= title %></h1>
        <div class="container">
            <%- content %>
        </div>
    </article>
    <script src="/editor/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/editor/bower_components/Swiper/dist/js/swiper.jquery.min.js"></script>
    <script src="/editor/js/user_article.js"></script>
</body>

</html>
