<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>爱车梦工厂后台管理</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale = 1.0, user-scalable=no">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <section class="shade <%= login %>">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>提示：</strong>
            <span class="info"></span>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" name="username" class="form-control" id="inputEmail3" placeholder="填写用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="填写密码">
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 记住我
                        </label>
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-block">登录</button>
                </div>
            </div>
        </form>
    </section>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        爱车梦工厂后台管理
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-links" id="admin-navbar">
                    <ul class="nav navbar-nav">
                        <li class="mainlink dropdown link-car">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">二手车<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="sublink link-buycar"><a ui-sref="buycar">购买二手车</a></li>
                                <li class="sublink link-sellcar"><a ui-sref="sellcar">出售二手车</a></li>
                            </ul>
                        </li>
                        <li class="mainlink link-fix"><a ui-sref="fix">维修</a></li>
                        <li class="mainlink dropdown link-maintenance">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">保养<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="sublink link-maintenanceinfo"><a ui-sref="maintenance">保养信息</a></li>
                                <li class="sublink link-maintenanceitem"><a ui-sref="maintenanceitem">保养项目</a></li>
                            </ul>
                        </li>
                        <li class="mainlink link-ad"><a ui-sref="ad">广告</a></li>
                        <li class="mainlink link-article"><a ui-sref="article">文章</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="logout">注销</a></li>
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账号<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-toggle="modal" data-target="#pwdModal">更改密码</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" class="logout">注销</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>

    <div class="wrapper">
        <div class="view-container">
            <div class="view-frame" ui-view="admin-view"></div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/require.js/2.1.20/require.min.js" data-main="./js/admin_main"></script>
</body>

</html>
