<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>爱车梦工厂</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale = 1.0, user-scalable=no">
    <link rel="stylesheet" href="css/main.css">
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div style="display:none">
        <img src="img/share.jpg" alt="">
    </div>
    <div class="main-wrapper" ng-controller="MainController as mainCtrl">
        <div class="index">
            <div class="gallary">
                <div class="swiper-container swiper-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="ad in mainCtrl.ads">
                            <a ng-href="{{ad.linkUrl}}" target="_blank">
                                <img ng-src="{{ad.imgUrl}}" alt="">
                                <div class="copys">
                                    <h3>{{ad.title}}</h3>
                                    <p>{{ad.content}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <nav class="menu container">
                <div class="row">
                    <div class="col-xs-6">
                        <a ui-sref="car" class="button-container">
                            <span class="fa fa-car"></span>
                            <span class="copy">二手车</span>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a ui-sref="fix" class="button-container">
                            <span class="fa fa-wrench"></span>
                            <span class="copy">维修</span>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a ui-sref="maintenance" class="button-container">
                            <span class="fa fa-heart"></span>
                            <span class="copy">保养</span>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="http://u.pingan.com/upingan/selfweb/insureOfferCustomer.html?mediasource=sc03-zzb-10000-qbcyh&marketType=09&partnerCode=1000220967" class="button-container">
                            <span class="fa fa-calculator"></span>
                            <span class="copy">车险</span>
                        </a>
                    </div>
                </div>
            </nav>
            <footer>
                <div class="logo">
                    <img src="img/logo_big.jpg" alt="">
                </div>
            </footer>
        </div>
        <div class="toptip weui_toptips js_tooltips">格式不对</div>
        <div class="page msg success-message">
            <div class="weui_msg">
                <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
                <div class="weui_text_area">
                    <h2 class="weui_msg_title">提交成功</h2>
                    <p class="weui_msg_desc">点击确定返回主页</p>
                </div>
                <div class="weui_opr_area">
                    <p class="weui_btn_area">
                        <a ui-sref="index" class="weui_btn weui_btn_primary">确定</a>
                        <a href="javascript:;" class="weui_btn weui_btn_default">取消</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="popup">
            <header>
                <h2>{{popupTitle}}</h2>
                <a ui-sref="index" class="fa fa-arrow-left" ng-click="hidePopup()"></a>
            </header>
            <div class="view-frame" ui-view="view-content"></div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/require.js/2.1.20/require.min.js" data-main="./js/main"></script>
</body>

</html>
